<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <section>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <form action="/signup" method="POST" class="card-body">
                          <div class="form-control">
                            <label for="userName" class="label-text">
                              <span class="label-text">Username</span>
                            </label>
                            <input type="text" placeholder="username" class="input input-bordered" id="userName"
                              name="userName" />

                            <label for="exampleInputEmail1" class="label">
                              <span class="label-text">Email</span>
                            </label>
                            <input type="email" placeholder="email" class="input input-bordered" id="email"
                              name="password" />
                          </div>
                          <div class="form-control">
                            <label for="confirmPassword" class="label">
                              <span class="label-text">Password</span>
                            </label>
                            <input type="password" placeholder="password" class="input input-bordered" id="password"
                              required />
                            </label>
                            <label for="confirmPassword" class="label">Confirm Password</label>
                            <input type="password" placeholder="password" class="input input-bordered"
                              id="confirmPassword" name="confirmPassword">
                          </div>

                          <div class="form-control mt-6">
                            <button class="btn btn-primary" type="submit">Signup</button>
                          </div>
                        </form>
      </section>
    </div>
  </div>
</div>