<%- include('partials/loggedIn-header') -%>
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-conent text-center">
            <div class="max-w-md">
                <div class="avatar">
                    <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <div>
                    <p><strong>User Name</strong>: <%= user.userName %>
                    </p>
                    <p><strong>Email</strong>: <%= user.email %>
                    </p>
                </div>

                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body items-center text-center">
                        <h2>Add a post</h2>
                        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="input input-bordered input-primary w-full max-w-xs" id="title"
                                    name="title">
                            </div>
                            <div class="mb-3">
                                <label for="caption" class="form-label">Caption</label>
                                <textarea class="input input-bordered input-primary w-full max-w-xs" id="caption"
                                    name="caption"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="imgUpload" class="form-label">Image</label>
                                <input type="file" class="file-input-bordered file-input-primary w-full max-w-xs"
                                    id="imageUpload" name="file">
                            </div>
                            <button class="btn btn-primary" value="Upload">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <%- include('partials/footer') -%>